@import url(font-awesome.min.css);
@import url(bootstrap.min.css);
@import url(bootstrap.min.css);
@import url(devicons.min.css);
/********************************************\
				$Colors
\********************************************/
/*
font lato font-weight: 400 
hta howa mazian
*/
/********************************************\
				$fonts
\********************************************/
/* line 1, ../scss/base/_base.scss */
::selection {
  background-color: #0075a7;
  color: #fff; }

/* line 2, ../scss/base/_base.scss */
::-moz-selection {
  background-color: #0075a7;
  color: #fff; }

/* line 4, ../scss/base/_base.scss */
*, *:after, *:before {
  box-sizing: border-box; }

/* line 8, ../scss/base/_base.scss */
*, html {
  margin: 0;
  padding: 0; }

/* line 12, ../scss/base/_base.scss */
body, p, a, ul, li, span {
  font-family: "PT Sans"; }

/* line 13, ../scss/base/_base.scss */
body {
  direction: ltr;
  margin: 0;
  padding: 0;
  background-color: #fafafa; }

/* line 20, ../scss/base/_base.scss */
a {
  color: #a1e0fb; }
  /* line 22, ../scss/base/_base.scss */
  a:visited {
    text-decoration: none;
    color: #a1e0fb; }
  /* line 27, ../scss/base/_base.scss */
  a:hover {
    text-decoration: none;
    color: #444; }
  /* line 32, ../scss/base/_base.scss */
  a:active {
    text-decoration: none;
    color: #a1e0fb; }
  /* line 36, ../scss/base/_base.scss */
  a:focus {
    text-decoration: none;
    color: #a1e0fb; }

/* line 46, ../scss/base/_base.scss */
input, textarea, button {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px; }

/* line 49, ../scss/base/_base.scss */
label {
  padding-right: 2px; }

/* line 52, ../scss/base/_base.scss */
textarea {
  resize: vertical; }

/* line 53, ../scss/base/_base.scss */
p {
  font-family: "PT Sans";
  margin: 0;
  padding: 0; }

/* line 59, ../scss/base/_base.scss */
h1, h2, h3, h5, h6 {
  font-family: "PT Sans"; }

/* line 62, ../scss/base/_base.scss */
textarea {
  font-size: 12px;
  font-family: "PT Sans"; }

/* line 13, ../scss/base/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* line 22, ../scss/base/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 25, ../scss/base/_reset.scss */
body {
  line-height: 1; }

/* line 28, ../scss/base/_reset.scss */
ol, ul {
  list-style: none; }

/* line 31, ../scss/base/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 35, ../scss/base/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 39, ../scss/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 1, ../scss/base/_normalize.scss */
h1, h2, h3, h4, h5 {
  margin-top: 0; }

/* line 3, ../scss/layouts/_section.scss */
section h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  font-family: "PT Sans";
  margin-bottom: 50px;
  color: #a1a1a1; }

/* line 1, ../scss/layouts/_introduction.scss */
section#introduction {
  width: 100%;
  min-height: 60vh;
  padding: 12% 0; }
  /* line 5, ../scss/layouts/_introduction.scss */
  section#introduction p {
    margin: 0px 60px;
    text-align: center;
    font-family: "PT Sans";
    color: #929292;
    font-size: 18px;
    line-height: 26px; }

/* line 1, ../scss/layouts/_competences.scss */
section#competences {
  width: 100%;
  min-height: 100vh;
  padding: 8% 0; }
  /* line 5, ../scss/layouts/_competences.scss */
  section#competences .col-sm-2 {
    padding-left: 0 !important;
    padding-right: 0 !important; }
  /* line 9, ../scss/layouts/_competences.scss */
  section#competences .item {
    display: block;
    max-width: 265px;
    height: 150px;
    background-color: #fff;
    margin: 2px;
    border: 1px solid #dbdbdb;
    font-family: "PT Sans"; }
    /* line 18, ../scss/layouts/_competences.scss */
    section#competences .item p {
      margin-top: 10px;
      font-family: "PT Sans";
      font-weight: bold;
      color: #6e6e6e; }
    /* line 24, ../scss/layouts/_competences.scss */
    section#competences .item span.state {
      display: block;
      margin-top: 2px; }
      /* line 27, ../scss/layouts/_competences.scss */
      section#competences .item span.state i {
        font-size: 10px;
        color: #ecc80a; }
    /* line 32, ../scss/layouts/_competences.scss */
    section#competences .item span:last-child {
      display: block;
      margin: 20px 0;
      font-size: 65px; }

/* line 1, ../scss/layouts/_projects.scss */
section#projects {
  width: 100%;
  min-height: 100vh;
  padding: 8% 0;
  background-color: #ccc; }

/* line 1, ../scss/layouts/_contact.scss */
section#contact {
  width: 100%;
  min-height: 100vh;
  padding: 8% 0;
  background-color: #ddd; }

/* line 1, ../scss/layouts/_footer.scss */
.footer {
  background-color: #fff;
  border-top: 1px solid #dbdbdb;
  width: 100%;
  margin: 30px 0 30px 0; }
  /* line 7, ../scss/layouts/_footer.scss */
  .footer .done-by {
    text-align: center;
    margin-top: 20px;
    font-size: 15px;
    color: #9e9e9e; }
    /* line 12, ../scss/layouts/_footer.scss */
    .footer .done-by a {
      color: #696969; }
  /* line 15, ../scss/layouts/_footer.scss */
  .footer ul.icons {
    list-style: none;
    text-align: center;
    margin-top: 30px; }
    /* line 19, ../scss/layouts/_footer.scss */
    .footer ul.icons li {
      display: inline-block;
      margin-bottom: 15px; }
      /* line 22, ../scss/layouts/_footer.scss */
      .footer ul.icons li a {
        display: inline-block;
        width: 2.75em;
        height: 2.75em;
        line-height: 2.8em;
        text-decoration: none;
        text-align: center;
        border: 0;
        box-shadow: inset 0 0 0 2px #d8d8d8;
        border-radius: 100%;
        color: #343231;
        -moz-transition: .4s;
        -o-transition: .4s;
        -webkit-transition: .4s;
        transition: .4s; }

/********************************************\
				$Header
\********************************************/
/* line 4, ../scss/modules/_header.scss */
.firstWrap {
  position: relative;
  width: 100%;
  height: 768px;
  background: #0075a7;
  /*comme celui du logo*/ }
  /* line 12, ../scss/modules/_header.scss */
  .firstWrap header .left {
    padding: 5px 30px; }
    /* line 14, ../scss/modules/_header.scss */
    .firstWrap header .left p:nth-child(1) {
      font-size: 33px;
      font-family: "Bad Script";
      font-weight: bold;
      color: #fff;
      line-height: 1.394;
      text-align: left;
      -moz-transform: scale(1.1, 0.78);
      -webkit-transform: scale(1.1, 0.78);
      -ms-transform: scale(1.1, 0.78); }
    /* line 25, ../scss/modules/_header.scss */
    .firstWrap header .left p:nth-child(2) {
      display: inline-block;
      font-size: 20px;
      font-family: "Bad Script";
      color: #ffffff;
      line-height: 32px;
      text-align: center;
      -moz-transform: scale(1.1, 0.78);
      -webkit-transform: scale(1.1, 0.78);
      -ms-transform: scale(1.1, 0.78); }
      /* line 35, ../scss/modules/_header.scss */
      .firstWrap header .left p:nth-child(2) .fa {
        color: #a1e0fb; }
  /* line 38, ../scss/modules/_header.scss */
  .firstWrap header .right {
    position: relative;
    padding: 5px 30px; }
    /* line 41, ../scss/modules/_header.scss */
    .firstWrap header .right p {
      float: right;
      font-size: 20px;
      text-align: center;
      font-family: "Courgette";
      color: #f8f8f8;
      line-height: 40px;
      -moz-transform: scale(1.1, 0.78);
      -webkit-transform: scale(1.1, 0.78);
      -ms-transform: scale(1.1, 0.78); }
      /* line 51, ../scss/modules/_header.scss */
      .firstWrap header .right p span {
        color: #a1e0fb; }
    /* line 53, ../scss/modules/_header.scss */
    .firstWrap header .right img.fleche {
      position: absolute;
      top: 65px;
      right: 34px; }
    /* line 58, ../scss/modules/_header.scss */
    .firstWrap header .right a {
      position: absolute;
      top: 121px;
      right: 51px; }
  /* line 65, ../scss/modules/_header.scss */
  .firstWrap .bottom {
    position: absolute;
    display: block;
    width: 100%;
    bottom: 75px; }
    /* line 70, ../scss/modules/_header.scss */
    .firstWrap .bottom .text {
      padding: 20px;
      background-color: rgba(4, 98, 138, 0.62);
      min-height: 160px;
      width: 100%;
      color: #FFF; }
      /* line 76, ../scss/modules/_header.scss */
      .firstWrap .bottom .text h1 {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        font-family: "PT Sans"; }
        /* line 81, ../scss/modules/_header.scss */
        .firstWrap .bottom .text h1 span {
          color: #a1e0fb; }
      /* line 83, ../scss/modules/_header.scss */
      .firstWrap .bottom .text p {
        margin-top: 20px;
        font-size: 16px;
        text-align: center;
        line-height: 24px; }

/* line 2, ../scss/modules/_navbar.scss */
.ourNavbar .navbar-default {
  background-color: #fff;
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 0; }
/* line 7, ../scss/modules/_navbar.scss */
.ourNavbar .navbar-fixed-top {
  -webkit-box-shadow: 0px -7px 21px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px -7px 21px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px -7px 21px 0px rgba(0, 0, 0, 0.35);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  transition-duration: 0.6s; }
/* line 12, ../scss/modules/_navbar.scss */
.ourNavbar ul.navbar-nav li a {
  font-size: 14px;
  font-family: "PT Sans";
  text-align: center;
  font-weight: 700;
  padding: 19px 0;
  margin: 0 15px;
  line-height: 0; }
  /* line 21, ../scss/modules/_navbar.scss */
  .ourNavbar ul.navbar-nav li a:hover {
    color: #0075a7; }
/* line 25, ../scss/modules/_navbar.scss */
.ourNavbar .navbar-default .navbar-nav > .active > a, .ourNavbar .navbar-default .navbar-nav > .active > a:focus, .ourNavbar .navbar-default .navbar-nav > .active > a:hover {
  border-bottom: 2px solid #a1e0fb;
  background-color: transparent; }

/* line 31, ../scss/modules/_navbar.scss */
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top; }

/* line 37, ../scss/modules/_navbar.scss */
.navbar .navbar-collapse {
  text-align: center; }

/* line 41, ../scss/modules/_navbar.scss */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #0075a7; }

/* line 44, ../scss/modules/_navbar.scss */
.navbar-default .navbar-toggle {
  border: 0px; }

/* line 48, ../scss/modules/_navbar.scss */
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent; }
